header, footer {
  background-color: #282828;
  position: fixed;
  padding: 20px 0;
  box-sizing: border-box;
  color: #1465fad7;
  width: 100%; }

.layout_a {
  color: #e61822; }
  .layout_a:hover {
    text-decoration: underline;
    color: #FFF;
    background-color: rgba(0, 255, 85, 0.959);
    border: 1px solid rgb(255, 0, 128);
    font-size: 20px; }

header {
  top: 0; }

footer {
  bottom: 0; }

header img {
  width: 250px;
  display: block; }

img {
  width: 100%; }

.same-height {
  max-height: 154px;
  overflow: hidden; }

.float {
  display: inline;
  max-width: 15%; }
